body{
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E1E5F2;
    background-color: #003549;
    margin: 0;
}

.main{
    display: block;
    padding: 50px 80px;
    width: 40vw;
    background-color: #015776;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #061C24;
    overflow: hidden;
}
.main h1{
    font-size: 3em;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}
.main h1 .h1color{
    color: #2EAFC9;
}

.main p{
    margin: 0px 0px 5px;
    font-size: 1.3em;
}

#length-in{
    margin: 20px 20px 20px 0;
    width: 40px;
    height: 20px;
    background-color: #003549;
    color:#E1E5F2;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1em;
    padding: 5px;
}

#generate-btn{
    display: block;
    width: 100%;
    height: 80px;
    margin: 50px auto;
    background-color: #003549;
    color: #E1E5F2;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 5px 5px 15px #003549;
    cursor: pointer;
    transition: transform 5ms ease-in;
}
#generate-btn:active{
    transform: translateY(3px);
    box-shadow: 4px 4px 12px #003549;
}

.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px auto;
    padding: 10px;
    border: solid 2px #0C3949;
    border-radius: 5px;
    text-align: center;
}
.settings p{
    display: block;
    font-size: 18px;
}

.propositions{
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 10px;
}
.prop1, .prop2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#pass-1, #pass-2{
    width: 20vw;
    text-align: center;
    word-wrap: break-word;
    height: 80px;
    margin: 5px 10px 10px 10px;
    padding: 10px;
    background-color: #003549;
    border: none;
    border-radius: 5px;
    color: #E1E5F2;
    font-family: inherit;
    font-size: 15px;
    box-shadow: 5px 5px 15px #003549;
}

.propositions button:active{
    transform: translateY(3px);
    box-shadow: 4px 4px 12px #003549;
}

.propositions p{
    margin: 5px 0px 0px 0px;
    opacity: 1;
    font-family: inherit;
    font-size: 1em;
    transition: transform 0.5ms ease-in;
}

@media screen and (max-width: 800px){
    .main{
        padding: 30px;
        width: 70vw;
        height: 90vh;
        font-size: 1em;
    }
    .main h1{
        font-size: 3em;
    }
    .main p{
        font-size: 1em;
    }
    .propositions{
        flex-direction: column;
        margin-top: 5px;

    }
    #pass-1, #pass-2{
        width: 70vw;
        height: 60px;
        margin-bottom: 10px;
        
    }
    #generate-btn{
        width: 70vw;
        margin: 10px 100px 0px 0px;
    }
    .settings{
        flex-direction: column;
        flex-wrap: wrap;
        width: 60vw;
        font-size: 20px;
    }
    #if-numbers, #if-special{
        width: 25px;
        height: 25px;
    }
    #length-in{
        width: 50px;
    }
    .settings p{
        margin: 10px 0px 10px 0px;
    }




}